Options All -Indexes

RewriteEngine On

RewriteRule ^([-a-zA-Z0-9ñÑáÁéÉíÍóÓúÚ_/]+)$ index.php?ruta=$1

#RewriteBase /
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ https://%1/$1 [R=301,L]